body {
	color: #fff;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

html {
	background-color: #19181a;
}

/******* MAIN STYLES *******/
p {
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 19px;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Ruluko', sans-serif;
	font-size: 25px;
	font-weight: 100;
	padding-bottom: 10px;
}

h2 {
	font-size: 21px;
	color: #03a8d8;
	padding-bottom: 10px;
}

h3 {
	font-size: 14px;
	color: #04d1ef;
	font-weight: 400;
	padding-bottom: 10px;
}

.button {
	font-size: 12px;
	font-weight: 700;
	background-image: url('images/buttonbg.jpg');
	background-repeat: repeat-x;
	text-align: center;
}


/******* HEADER *******/
.mainHead {
	background-color: #3d3d3d;
	padding-top: 25px;
}

.tagline {
	color: #c5c5c5;
	font-size: 14px;
	font-weight: 100;
	padding-top: 30px;
}

.mainNav {
	font-family: 'Ruluko', sans-serif;
	text-align: center;
	background-image: url('images/mainnavbg.jpg');
	background-repeat: repeat-x;
}

.mainNav ul li {
	display: inline-block;
	font-size: 17px;
}

.mainNav ul li a {
	color: #fff;
	padding: 8px 25px;
	display: block;
}

.mainNav ul li.active {
	background-image: url('images/mainnavactivebg.jpg');
	background-repeat: repeat-x;
}

/******* SLIDESHOW *******/
.slideshow {
	height: 388px;
	background-image: url('images/slideshowbg.jpg');
	position: relative;
}

.slideshownav {
	position: absolute;
	top: 170px;
	cursor: pointer;
}

#go-prev {
	left: -25px;
}

#go-next {
	left: 955px;
	
}

/******* CONTENT AREA *******/
.contentWrapper {
	background-image: url('images/topcontentbg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #19181a;
	padding-top: 40px;
	padding-bottom: 40px;
}

/******* FOOTER AREA *******/
.footerWrapper {
	background-color: #19181a;
	padding-bottom: 35px;
}
	.footerBlocks {
		height: 220px;
	}
	.footerTitle {
		font-family: 'Ruluko', sans-serif;
		font-size: 23px;
		font-weight: 100;
	}
	
	.footerBlocks .button {
		font-size: 12px;
		font-weight: 700;
		background-image: url('images/buttonbg.jpg');
		background-repeat: repeat-x;
		text-align: center;
		position: absolute;
		bottom: 0;
	}
	
	.footerWrapper a {
		color: #fff;
		display: block;
		padding: 10px;
	}
	
	.footerWrapper ul li {
		list-style: inside url('images/bullet.png');
		padding: 5px;
	}

.horizontalLine {
	border-top: 1px solid #434345;
	text-align: center;
}

/******* SUBPAGE AREA *******/
.subContentWrapper {
	background-image: url('images/topcontentbg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #19181a;
	padding-top: 100px;
	padding-bottom: 40px;
}


/******* subNAV AREA ********/

.subNav ul li {
	font-family: 'Ruluko', sans-serif;
	font-size: 17px;
	font-weight: 100;
	padding-left: 20px;
}
	.subNav ul li a {
		padding: 10px;
		display: block;
		color: #fff;
	}
	
	.subNav ul li.active {
		background: #2b2b2c;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMmIyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTE4MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #2b2b2c 0%, #19181a 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2b2b2c), color-stop(100%,#19181a));
		background: -webkit-linear-gradient(left,  #2b2b2c 0%,#19181a 100%);
		background: -o-linear-gradient(left,  #2b2b2c 0%,#19181a 100%);
		background: -ms-linear-gradient(left,  #2b2b2c 0%,#19181a 100%);
		background: linear-gradient(left,  #2b2b2c 0%,#19181a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2c', endColorstr='#19181a',GradientType=1 );
		border-left: 20px solid #03a8d8;
		padding-left: 0px;
	}