body {
	background: #f5f5f5;
}

li {
	list-style: none;
	display: inline;
}

ul {
	padding: 0;
	margin: 0;
}

#container {
	width: 940px;
	height: 380px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}