@font-face {
    font-family: 'DeltaJaegerLight';
    src: url('fonts/delta_jaeger_light-webfont.eot');
    src: url('fonts/delta_jaeger_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/delta_jaeger_light-webfont.woff') format('woff'),
         url('fonts/delta_jaeger_light-webfont.ttf') format('truetype'),
         url('fonts/delta_jaeger_light-webfont.svg#DeltaJaegerLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCondensed';
    src: url('fonts/helvetica_57_condensed-webfont.eot');
    src: url('fonts/helvetica_57_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_57_condensed-webfont.woff') format('woff'),
         url('fonts/helvetica_57_condensed-webfont.ttf') format('truetype'),
         url('fonts/helvetica_57_condensed-webfont.svg#HelveticaNeueCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBoldCond';
    src: url('fonts/helvetica_77_bold_condensed-webfont.eot');
    src: url('fonts/helvetica_77_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica_77_bold_condensed-webfont.woff') format('woff'),
         url('fonts/helvetica_77_bold_condensed-webfont.ttf') format('truetype'),
         url('fonts/helvetica_77_bold_condensed-webfont.svg#HelveticaNeueBoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul li {
	list-style-type: none;	
}
body{
		background: url(images/gradient_background.jpg) repeat-x top left;
		margin: 0 auto;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-align: center;
}

div{
	margin: 0;
	padding: 0;
}
h1{
	magin: 0;
	padding: 0;
	font-weight: normal;
}

h2 {
	font-weight: normal;	
}
.fullcontainer {
	margin: 0 auto;
	width: 1005px;
}
.logo{
	float: left;
}
.rightlayer3{
	float: right;
	width: 500px;
	height: 75px;
}
.navcontainer{
	float: right;
	height: 25px;
	width: 350px;
	margin-left: 200px;
	background-color: #ffb744;
}

.twelve {
	font-size: 12px;	
}

/* Main Menu Normal */
.mainMenu {
	float: right;
	margin: 0;
	list-style-type: none;
	line-height: 24px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 0 10px;
	cursor: pointer;
	border: 0;
}

/* Main Menu Hover */
.mainMenu .hov, .mainMenu:hover {
	border: 0;
	color: #000;
}

.mainMenu .root:hover {
	border: 0;
	color: #000;
}

.mainMenuSub  {
	color: #000;
	background: url(images/menu_background.jpg) repeat-x top left;
	line-height: 20px;
	padding: 10px;
	text-align: left;
	cursor: pointer;
}

.mainMenuSub td {
	font-size: 12px;
	line-height: 20px;
	color: #013958;
}

.link-noline{
	text-decoration: none;	
}

.tagline{
	float: left;
	text-align: right;
	padding-top: 50px;
	padding-left: 43px;
	font-size: 15px;
}
.tagline h1{
	font-family:  'DeltaJaegerLight';
	color: #666644;
	font-size: 18px;
	margin: 0 0;	
}

.maincontainer{
	margin-top: 4px;
	float: left;
	
}

.left {
	float: left;
	width: 815px;
	overflow: hidden;	
}

.right{
	float: right;
	width: 184px;
	margin: 0 0 0 5px;
}

.right img {
	margin-bottom: 5px;
}

.language{
	float: right;
	margin-top: 4px;
	font-weight: normal;
	width: 186px;
	text-align: right;
}

.fontsize{
	float: right;
	font-family: arial;
	font-weight: bold;
	color: #7a7a7a;
	text-align: right;
	padding-top: 56px;
}

.fontsmall{
	font-size: 12px;
	font-weight: normal;
}
.fontlarge{
	font-size: 14px;
	font-weight: normal;
}

.yellowmenu_top{
	background:url(images/yellowmenu_top.gif) no-repeat scroll 0 0 transparent;
	height: 60px;
	margin-top: 5px;
}

.yellowmenu_headertext{
	float: left;
	padding: 0 20px;
	text-align: left;
	width: 280px;
}


.yellowmenu_headertext h2{
	font-family: 'HelveticaNeueCondensed';
	font-size: 17px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0;
}	

.yellowmenu_headertext a {
	color: #fff;
	text-decoration: none;
}
.yellowmenu_divider{
	background: url(images/yellowmenu_divider.jpg) repeat-y scroll 5px 0 transparent;
	float: left;
	width: 10px;
}

.yellowmenu_bottom_divider{
	background: url(images/yellowmenu_bottomdivider.jpg) repeat-y scroll 5px 0 transparent;
	float: left;
	width: 10px;
}

.yellowmenu_content{
	background: url(images/yellowmenu_contentfull.gif) no-repeat scroll 0 0 transparent;
	min-height: 110px;
	padding-top: 2px;
}

.yellowbox_p {
	padding-top: 10px;	
}

.top_divider {
	height: 55px;
	margin: 5px 0 0;
}
.bottom_divider {
	min-height: 100px;
	margin: 0px 0 0;
}

.no-margin{
	margin: 0;	
}
.whitetext{
	color: #ffffff;	
}
.yellowtext {
	color: #636363;
}
.orangetext{
	color: #f7a11a;
}
.graytext{
	color: #444444;
}
.lightgraytext{
	color: #cacaca;	
}
.go_button {
	color: #636363;
}

.footer_headertext{
	float: left;
	padding: 0 18px;
	text-align: left;
	width: 164px;
}

.footer_headertext h3{
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}	

.footer_headertext h3 a {
	color: #f7a11a;
	text-decoration: none;
}

.footer_headertext ul{
	list-style-type: none;
	margin-top: -2px;
	margin-left: 0;
}

.footer_headertext li{
	color: #444444;	
}

.clear-right{
	clear: right;
}
.clear-left{
	clear: left;	
}

.footer_headertext a {
	text-decoration: none;	
}

/* eNewsletter signup */

.enewsletter {
	float: right;
	background: url(images/eNewsletter_signup_footer.png) bottom right no-repeat #f7a11a;
	height: 130px;
	width: 184px;
}

.enewsletter h2 {
	position: relative;
	background: url(images/eNewsletter_signup_header.png) 0 0 no-repeat #f7a11a;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.custom_header {
	text-indent: -999em;	
}

.newsletter_list {
	background: url(images/eNewsletter_icon.gif) 25px 0 no-repeat;
	height: 60px;
	margin: 5px 0 0 0;
}

.newsletter_item {
	line-height: 18px;
	padding: 0 0 0 35px;
}

form#signup {
	float: left;
	margin: 0;
	padding: 0 0 10px 0;
	text-align: left;
	border: 1px solid red;
}

#signup label {
	float: left;
	margin: 0 0 0 15px;
	width: 170px;
	border: 1px solid red;
}

#signup #email_field {
	float: left;
	margin: 0 0 0 15px;
	background: url(images/eNewsletter_field.jpg) 0 0 no-repeat;
	width: 110px;
	height: 22px;
	line-height: 20px;
	text-indent: 5px;
}

#signup #email_submit {
	float: left;
	margin: 0 0 0 5px;
	background: url(images/eNewsletter_go.jpg) 0 0 no-repeat;
	width: 51px;
	height: 28px;
	text-indent: -999em;
}

.no_border {
	border: 0;	
}

.graybanner_top {
	background: url(images/graybanner_top.jpg) 0 0 no-repeat;
	min-height: 120px;
}

.graybanner_headertext {
	font-family: 'DeltaJaegerLight';
	font-size: 20px;
	text-indent: 30px;
	padding-top: 10px;
	line-height: 42px;
	text-align: left;
}

.left60 {
	float: left;
	width: 60%;
	text-align: left;
	margin: 0 0 15px 0;
}

.left60 h2 {
	font-family: 'HelveticaNeueCondensed';
	color: #666644;
	font-size: 25px;
}

.right40 {
	float: right;
	width: 39%;
	text-align: left;
}

.right40 h2 {
	font-family: 'HelveticaNeueBoldCond';
	color: #ffa410;
	font-size: 25px;
}

.right40 .normal {
	margin-bottom: 25px;	
}

.content_area {
	margin-top: 29px;
	margin-bottom: 15px;
}

.content_area ul {
	margin: 0;	
	padding: 0;
}

.left60 .content_area {
	padding: 0 18px 0 20px;
	border-right: 1px solid #f7a11a;
}

.right40 .content_area {
	padding: 0 3px 0 18px;	
}

.right40 ul li {
	list-style-type: square;
	padding: 0 0 0 15px;
	list-style-position: inside;	
}

.content_area ul li {
	line-height: 18px;	
}

.content_area p, .footer_headertext ul li {
	line-height: 18px;
	color: #636363;	
	margin-bottom: 24px;
}

.content_area ul li {
	line-height: 18px;
	color: #636363;
	margin-bottom: 5px;	
}

.left60 ul li {
	list-style-type: square;
	padding: 3px 0 3px 20px;
	list-style-position: inside;
}

.footer_headertext {
	width: 235px;	
	margin: 0 10px 0 0;
	padding: 0;
}

.footer_headertext h3 {
	font-size: 17px;
	font-weight: normal;
}

.footer_headertext ul li, .footer_headertext ul {
	padding-left: 0;
	margin-left: 0;
}
ul.footer_ul {
	margin: 5px 0 0 0;
	padding: 0x;
}

ul.footer_ul li {
	display: block;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ffffff;
	line-height: 18px;
	background: url(images/arrow_right.png) 0 7px no-repeat;
	padding: 5px 0;
	margin: 0;
}

ul.footer_ul li a {
	display: block;
	float: left;
	margin-left: 15px;	
}

.footercontainer {
	margin-top: 30px;
}

.footer_divider_top {
	border-top: 1px solid #ffffff;	
	padding-top: 15px;
}

.footer_ul li.no_border {
	border: 0;	
}
/* Gallerific */
.gallery_content { position: relative; float: left;	height: 350px; width: 815px; }
.slideshow-container { position: relative; float: left; height: 350px; }
.loader { position: absolute; width: 815px; height: 350px; background: url(images/loader.gif) center center no-repeat; }
.slideshow { position: relative; width: 100%; height: 100%; top: 0; left: 0; }
.slideshow span.image-wrapper { display: block; position: absolute; top: 0; left: 0; }
.slideshow span.image-wrapper img { float: left; margin-top: -13px; width: 815px; height: 350px; }
.navigation { position: absolute; z-index: 4; width: 350px; height: 19px; top: 310px; left: 30px; }
.navigation .thumbs { float: left; width: 300px; }
.navigation .thumbs li { float: left; width: 13px; height: 12px; list-style-type: none; margin-right: 10px; }
.navigation .thumbs li a { display: block; width: 100%; height: 100%; background: url(images/thumb_regular.png) 0 0 no-repeat; }
.navigation .thumbs li.selected a { background: url(images/thumb_active.png) 0 0 no-repeat; }
.caption-container { position: absolute; z-index: 4; width: 350px; height: 200px; top: 310px; left: 960px; }

/* Email Subscribe form */

.email_field {
	float: left;
	border: 1px solid #ccc;
	width:80%;	
	height: 23px;
	line-height: 20px;
	color: #666;
}

.submit_button {
	display: block;
	float: left;
	margin: 0 0 0 15px;
	height: 25px;
	width: 25px;
	border: 0;
}

.footer {
	width: 100%;
	float: left;
	margin: 0 auto;
	background: #dedede;
}

.left60 a, .right40 a {
	text-decoration: underline;
}


/* Main Menu */
.mainMenu, .mainMenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;	
	text-align: left;
}

.mainMenu a {
	display: block;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.mainMenu li {
	float: left;
	list-style: none;	
}

.mainMenu ul, .mainMenu ul ul {
	padding: 5px 0;	
}

.mainMenu li ul {
	position: absolute;
	background: #ffb744;
	width: 250px;
	left: -999em;
}

.mainMenu li ul ul {
	margin: -30px 0 0 -200px;	
	width: 200px;
}

.mainMenu li:hover ul ul, .mainMenu li.sfhover ul ul {
	left: -999em;	
}

.mainMenu li:hover ul, .mainMenu li li:hover ul, .mainMenu li .sfhover ul, .mainMenu li li.sfhover ul {
	left: auto;	
}

.mainMenu ul a {
	width: 360px;
	color: #003366;
}

.mainMenu ul ul a {
	width: 200px;	
}

.mainMenu a:hover {
	text-decoration: none;	
	color: #000;
}